<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehfactory.brokenjack">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Intro.Tutorial"
            android:exported="true"
            android:label="@string/title_activity_tutorial" />
        <activity
            android:name=".Activitys.NowPlaying"
            android:label="@string/title_activity_now_playing"
            android:exported="true"
            android:theme="@style/DarkTheme"/>
        <activity
            android:name=".Activitys.Artist.ArtistActivity"
            android:label="@string/title_activity_artist"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehfactory.brokenjack.MainActivity" />
        </activity>

        <service
            android:name=".Service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activitys.Album.AlbumActivity"
            android:label="@string/title_activity_album" />

        <receiver android:name=".Service.NotifReceiver">
            <intent-filter>
                <action android:name="PAUSE_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>